

html {
  scroll-behavior: smooth;
}

body {
  /* min-height: 100vh; */
  font-family: 'Inter', sans-serif;
max-width: 1200px;
margin: 0 auto;  
padding: 0 20px; }



 
 
/* ================= Buttons ================= */
.button-pri {
  background-color: #30b868;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 605;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  transition: all 0.3s ease;
}

.button-pri:hover {
  background: linear-gradient(135deg, #30b868, #1f9d55);
  transform: translateY(-3px);
}

.btn-outline {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}




.part1-header {
  /* box-shadow: 0 4px 20px; */
  background-color: white;
}


.head-contain {
  max-width: 1400px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headofnav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.headofnav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.headofnav a:hover {
  color: #30b868;
}

.banner-section {
  background: url("./assets/hero-bg.png") center/cover no-repeat;
  position: relative;
}

.banner-overlay {
  background: linear-gradient(
    rgba(48, 184, 104, 0.25),
    rgba(0, 0, 0, 0.7)
  );
  padding: 100px 20px;
}

.banner-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.badgeofbutton {
  background: #fff;
  color: #30b868;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
}

.banner-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.banner-content h1 span {
  color: #30b868;
}

.banner-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.banner-act {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.issue-section {
  text-align: center;
  padding: 100px 0;
}

.issue-header h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.issue-header p {
  font-size: 18px;
  color: #627382;
  margin-bottom: 60px;
}

.issue-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.issue-card {
  background: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.issue-card i {
  font-size: 20px;
  background: #f95555;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.issue-card h4 {
  font-size: 19px;
  margin-bottom: 11px;
}

.issue-card p {
  font-size: 16px;
  color: #627382;
}

.features-section {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 100px 0;
}

.features-image img {
  max-width: 100%;
}

.features-text h6 {
  color: #30b868;
  margin-bottom: 13px;
}
.features-text h1 {
  font-size: 50px;
  margin-bottom: 22px;
}

.features-text p {
  font-size: 18px;
  margin-bottom: 21px;
}

.features-points {
  list-style: none;
}

.features-points li {
  font-size: 17px;
  margin-bottom: 12px;
}

.features-points i {
  color: #30b868;
  margin-right: 5px;
}


.ready-section {
  background: #f7f6f2;
  border-radius: 10px;
  text-align: center;
  padding: 80px 20px;
  margin-bottom: 120px;
}

.ready-section h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.ready-section p {
  font-size: 17px;
  color: #627382;
  margin-bottom: 30px;
}



.kv-footer {
  background: #001931;
  color: #fff;
}

.kv-container {
  max-width: 1400px;
  margin: auto;
  padding: 100px 20px 30px;
}

.kv-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}





